     $header-height: 3rem;

    /* ==============COLOR=========== */
    /* CHANGE COLOR */
    $hue-color:250;

    /* HSL COLOR MODE */
    $first-color: hsl(var($hue-color), 69%, 61%);
    $first-color-second: hsl(var($hue-color), 69%, 61%);
    $first-color-alt: hsl(var($hue-color), 57%, 53%);
    $first-color-lighter: hsl(var($hue-color), 92%, 85%);
    $title-color: hsl(var($hue-color), 8%, 15%);
    $text-color: hsl(var($hue-color), 8%, 45%);
    $text-color-light: hsl(var($hue-color), 10%, 60%);
    $input-color: hsl(var($hue-color), 70%, 96%);
    $body-color: hsl(var($hue-color), 60%, 99%);
    $container-color: #fff;

    /* FONT AND TYPOGRAPHY */
    $body-font: 'Poppins', sans-serif;

    /* 0.5rem = 8px .v.v. */
    $big-font-size: 2rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: .938rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;

    /* FONT WEIGHT */
    $font-medium: 500;
    $font-semi-bold: 600;

    // BACKGROUND IMAGE
    $background-liner-gradient-1: liner-gradient(    
    rgba(240, 217, 126, 0.5),
    rgba(238, 162, 241, 0.5));

    // BACKGROUND COLOR
    $background-color-blue-light: rgb(108, 218, 255);
    $background-color-blue-dark: rgb(0, 45, 128);
    $background-color-dark: rgb(22, 20, 20);
    $background-color-black: black;
    
    // GRID
    $grid-max-width: 71.25rem;
    $gutter-vertical: 6rem;
    $grutter-horizontal: 3.75rem;