
@keyframes animation_primary_right_main{
  0%{
      opacity: 0;
      transform: translateX(-100px);
  }
  100%{
      opacity: 1;
      transform: translateX(0, 0);
  }
}
@keyframes animation_primary_left_sub{
  0%{
      opacity: 0;
      transform: translateY(-120px);
  }
  100%{
      opacity: 1;
      transform: translateX(0, 0);
  }
}
@keyframes animation_primary_bottom_btn{
  0%{
      opacity: 0;
      transform: translateY(100px);
  }
  100%{
      opacity: 1;
      transform: translateX(0, 0);
  }
}
/* Search START */
/* Search END */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif ;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: black;
  padding: 0px 30px 30px 30px;
  
}
header{
  text-align: center;
  padding: 0;
}

/* NAV START */

/* nav header start*/
.navbar_header{
  background-color: white;
  height: 20px;
  display: inline;
}
.navbar_ul{
  text-transform: none;
  list-style: none;
  display: -webkit-inline-box;
}
.navbar_ul li a{
  text-decoration: none;
}
.navbar_li{
  text-transform: uppercase;
  padding-left:100px;
  margin-bottom: -35px;
}
/* nav header end */

/* nav menu start */
.logo_trangchu{
  padding-top: 10px;
}
.navbar_menu_ul{
  float: right;
  list-style: none;
  display: -webkit-inline-box;
  padding-top: 40px;
}
.navbar_menu_li a{
  text-decoration: none;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.fa{
  font-size:30px;
  color: white;
}
/* nav menu end */

/* NAV END */

/* Main start */
.main{
  height: 924px;
  background-image: linear-gradient(
    rgba(240, 217, 126, 0.5),
    rgba(238, 162, 241, 0.5)),
      url(../img/background1.jpg) ;
  position: relative;
}

/* text main start */
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50);
  text-align: center;
  /*  animation-iteration-count: 1; số lần lập lại - lập lại vô hạn với infinite
      animation-delay: 1s; thời gian trể để xuất hiện hiệu ứng
      animation: <animation-name> <animation-duration> <animation-timing-function> <animation-delay> <animation...>
  */

}

.main-text{
  display: block;
  font-size: 70px;
  letter-spacing: 5px;
  text-transform: uppercase;
  animation-name: animation_primary_right_main;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.main-sub{
  font-variant: small-caps;
  display: block;
  font-size: 30px;
  letter-spacing: 20px;
  animation: animation_primary_left_sub 1s ease-out;
}
/* text main end */


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* btn main start */

.btn,
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    font-size: 30px;
    position: relative;
    top:40px;
}
.btn-blue{
    color: rgb(105, 70, 27);
    background-color: none;
}

.btn:hover{
    transform: translateY(-6px);
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 5);
}
.btn:active{
    transform: translateY(-1px);
    outline: none;
    box-shadow: 0px 5px 10px rgba(123, 231,5, 0.3);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1; 
    transition: all .5s;
}
.btn-blue::after{
    color: rgb(105, 70, 27);
    background-color: ivory;
    opacity: 1;
}
.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.4); 
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 5);
    opacity: 0;
}
.btn{
    animation: animation_primary_bottom_btn 1s ease-in;
    animation-fill-mode: backwards;
}

/* btn main end */

/* img main start */


/* img main end */

/* Main end */