.heading-primary{
    text-align: center;
    position: relative;
    float: right;
    right: 5%;
    top: -60%;
    &--main{
      .heading-text-main{
        position: relative;
        text-transform: uppercase;
        font-size: 5rem;
        display: inline-block;
        background-image: linear-gradient(to left,
        rgba(10, 21, 173, 0.8), rgba(9, 202, 9, 0.8));
        color: transparent;
        -webkit-background-clip: text;
        animation: moveInLeft 1s ease-out;
      }
    }
    &--sub{
      .heading-text-sub{
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        display: inline-block;
        background-image: linear-gradient(to right,
        rgba(10, 21, 173, 0.8), rgba(9, 202, 9, 0.8));
        animation: moveInRight 1s ease-out;
        }
      }
  }

  .chars{
    float: left;
    &-text-h{
      font-size: 35rem;
      margin-top: -20%;
      margin-left: 31%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-transform: uppercase;
      background-image: linear-gradient(to right,
      rgba(58, 64, 144, 1), rgba(1,11,1, 1)), 
      url(../Themes/background1.jpg);
      color: transparent;
      -webkit-background-clip: text;
      animation: moveHLeft 1s ease-out;
      z-index: 9;
    }
    &-text-q{
      font-size: 40rem;
      margin-top: -90%;
      margin-left: 30rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-transform: uppercase;
      background-image: linear-gradient(to left,
      rgba(10, 21, 173, 1), rgba(1,11,1,1)), 
      url(../Themes/background1.jpg);
      color: transparent;
      -webkit-background-clip: text;
      animation: moveQRight 1s ease-out;
      z-index: 10;
    }
  }