header{
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(240, 217, 126, 0.5), 
      rgba(12, 66, 153, 0.5));
    // background-color: darkgray;
  }
  .header__logo-box{
    float: left;
  }