header{
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(220, 227, 228, 0.9), 
      rgba(171, 245, 190, 0.5));
    // background-color: darkgray;
  }
  .header__logo-box{
    float: left;
  }