header{
    height: 90vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(240, 217, 126, 0.5), 
      rgba(238, 162, 241, 0.5)), 
      url(../Themes/background1.jpg);
  }
  .header__logo-box{
    float: left;
  }