.header__logo-box{
  height: 2rem;
  width: 2rem;
}
.header__navbar{


  .header__navbar-ul{
    list-style-type: none;
    .header__navbar-li{
        .header__navbar-link{
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}
}

